.characterCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    background-color: rgba(117, 18, 109, 0.350);
    padding: 0px;
    margin: 0px;
}

.cards{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
    background-color: rgb(0, 3, 82);
    border-radius: 20px;
    margin: 30px;     
}

.imgTop{
    display: flex;
    min-width: 150px;
    max-width:250px;
    min-height: 100px;
    max-height: 300px;
    align-self: center;
    margin: 10px;  
    background-color:  rgba(144, 166, 255, 0.508);
    border-radius: 15px;
}

.body{
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(255, 142, 36);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.name{
    display: flex;
    justify-content: left;
    background-color:  rgba(252, 234, 206, 0.556);
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
    border-radius: 15px;
}

.text{
    display: flex;
    justify-content: left;
    background-color: rgba(252, 234, 206, 0.556);
    font-family: monospace;
    font-size: 15px;
    margin: 10px;
    border-radius: 15px;
}

.group{
    background-color:rgb(205, 99, 0);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    margin: 10px;
    border-radius: 15px;
}

.info{
    background-color:rgba(252, 234, 206, 0.462);
    font-family: monospace;
    margin:10px;
    border-radius: 15px;
    font-size: 14.5px;
    color: black;
}


