
.characterCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    background-color: rgba(117, 18, 108, 0.399);
    padding: 0px;
    margin: 0px;
}

.cards{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
    background-color: rgba(127, 255, 212, 0.614);
    border-radius: 20px;
    margin: 30px;     
}

.cardImgTop{
    display: flex;
    background-color: rgba(60, 255, 0, 0.168);
    min-width: 150px;
    max-width:250px;
    min-height: 100px;
    max-height: 300px;
    align-self: center;
    margin: 10px;  
}

.cardBody{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(255, 89, 89, 0.459);
    margin: 10px;
    border-radius: 15px;
}

.cardName{
    display: flex;
    justify-content: left;
    background-color: rgba(194, 96, 255, 0.333);
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
    border-radius: 15px;
}

.cardText{
    display: flex;
    justify-content: left;
    background-color: rgba(225, 255, 89, 0.399);
    font-family: monospace;
    font-size: 15px;
    margin: 10px;
    border-radius: 15px;
}

.listGroup{
    background-color: rgba(43, 128, 255, 0.59);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    margin: 10px;
    border-radius: 15px;
}

.listInfo{
    background-color: rgba(255, 235, 205, 0.482);
    font-family: monospace;
    margin: 10px;
    border-radius: 15px;
    font-size: 14px;
}


