body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    height: 60px;
    background-color:rgb(209, 108, 0);
    position: sticky; top: 0;
    padding: 0px;
    margin: 0px;  
}

.links{
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
}

.link{
    display: flex;
    font-style: oblique;
    font-family: monospace;
    font-weight: 900;
    background-image: url(./img/pixelSunriseBanner.png);
    min-width: 250px;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;

    a:link, a:visited {
        text-decoration: double;
        color:rgb(255, 237, 217);
        }
    a:hover {
        text-decoration: dashed;
        color: rgb(0, 66, 189);
        }
    a:active {
        text-decoration: double;
        color:rgb(93, 149, 251);
    }
    
}

main{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background-image: url(./img/backgroundIndex.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.mainBannerCard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.mainBanner{
    display: flex;
    align-self: center;
    min-width: none;
    max-width: 600px;
    margin: 30px;

}

.workInfoCard{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
    border-radius: 15px;
    
}

.workInfoCardBody{
    background-color: aqua;
}

.workInfoTitle{
    background-color: antiquewhite;
}

.workInfo{
    background-color: black;
}

.githubIcon{
    background-color: blueviolet;
}





.copyrightTextCard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    
}

.copyrightText{
    display: flex;
    background-color:rgba(255, 237, 217, 0.686);
    font: small monospace;
    font-style: oblique;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    min-height: 150px;
    max-height: 200px;
    min-width: none;
    max-width: 600px;
    margin: 10px;

}


footer{
    background-color:rgb(0, 3, 82);
    max-height: 100px;
    min-height: 50px;
    padding: 0px;
    margin: 0px;
}

.copyright{
    text-align: center;
    justify-content: space-around;
    color:rgb(182, 207, 252);
    font-family: monospace;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
