body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color:rgb(186, 90, 0);
    position: sticky; top: 0;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}


.links{
    background-color: rgba(255, 235, 205, 0);
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content:space-evenly;
    width: 800px;
}

.link{
    display: flex;
    font-style: oblique;
    font-family: monospace;
    font-weight: 900;
    background-image: url(./img/pixelSunriseBanner.png);
    min-width: 200px;
    max-width: 250px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 15px;
    padding: 0px;
    margin: 10px;
    a:link, a:visited {
        text-decoration: double;
        color: rgb(123, 19, 0);
        }
    a:hover {
        text-decoration: dashed;
        color:rgb(187, 28, 0);
        }
    a:active {
        text-decoration: double;
        color:rgb(255, 38, 0);
    }  
}

main{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background-image: url(./img/backgroundIndex.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.mainBannerCard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.mainBanner{
    display: flex;
    align-self: center;
    min-width: none;
    max-width: 600px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.info{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: none;
    max-width: 600px;
    min-height: none;
    max-height: 600px;
    margin-bottom: 5px;
}

.workInfoCard{
    display: flex;
    justify-content: center;
    background-color:rgb(33, 5, 0);
    border-radius: 15px;
    width: 295px; 
    height: 105px;  
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
}

.workInfoCardBody{
    display: grid;
    background-color:rgb(205, 31, 0);
    grid-template-columns: 200px 80px;
    grid-template-rows: 40px 30px 30px;
    border-radius: 15px;
    margin: 5px;
}

.workInfoTitleResources{
    grid-column: 1;
    grid-row: 1;
    font-style: oblique;
    font-family: monospace;
    font-size:20px;
    color:rgb(45, 7, 0);
    align-items: center;
    margin: 10px;
}

.workInfoTitleSocials{
    grid-column: 2;
    grid-row: 1;
    font-style: oblique;
    font-family: monospace;
    font-size:20px;
    color: rgb(41, 6, 0);
    align-items: center;
    justify-content: right;
}

.workInfoApi{
    grid-column: 1;
    grid-row: 2;
    color: rgb(41, 6, 0);
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-decoration: underline;
    margin-left: 10px;
    font-style: oblique;
}

.workInfoImg{
    grid-column: 1;
    grid-row: 3;
    color:rgb(41, 6, 0);
    font-family: monospace;
    font-size:15px;
    font-weight: bold;
    align-items: center;
    margin-left: 10px;
    text-decoration: underline;
    font-style: oblique;
}

.workInfoSocials{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    color: rgb(41, 6, 0);
    font-style: oblique;
    font-family: monospace;
    font-size:15px;
    align-items: center;
    margin-left: 5px;
}

.githubIcon{
    width: 60px;
}

.copyrightTextCard{
    display: flex;
    justify-content: center;
    align-content: space-around;
    border-radius: 15px;
    background-color: rgba(0, 2, 67, 0.418);
    margin: 10px;
}

.copyrightText{
    display: flex;
    background-color:rgb(186, 90, 0);
    font: small monospace;
    font-style: oblique;
    border-radius: 15px;
    color:rgb(254, 199, 148);
    min-height: 150px;
    max-height: 200px;
    min-width: none;
    max-width: 600px;
    margin: 5px;
}

.copyrightTextCard{
    border-radius: 15px;
    background-color: rgb(254, 158, 71);
}

footer{
    background-color:rgb(186, 90, 0);
    max-height: 100px;
    min-height: 50px;
    padding: 0px;
    margin: 0px;
}


.copyright{
    text-align: center;
    justify-content: space-around;
    color:rgb(254, 199, 148);
    font-family: monospace;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
