body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    height: 60px;
    background-color:rgb(177, 92, 0);
    position: sticky; top: 0;
    padding: 0px;
    margin: 0px;  
}

.links{
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
}

.link{
    display: flex;
    font-style: oblique;
    font-family: monospace;
    font-weight: 900;
    background-image: url(./img/pixelSunriseBanner.png);
    min-width: 250px;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
    a:link, a:visited {
        text-decoration: double;
        color:rgb(255, 237, 217);
        }
    a:hover {
        text-decoration: dashed;
        color: rgb(0, 66, 189);
        }
    a:active {
        text-decoration: double;
        color:rgb(93, 149, 251);
    }  
}

main{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background-image: url(./img/backgroundIndex.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.mainBannerCard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.mainBanner{
    display: flex;
    align-self: center;
    min-width: none;
    max-width: 600px;
    margin: 10px;

}

.info{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: none;
    max-width: 600px;
    min-height: none;
    max-height: 600px;
}

.workInfoCard{
    display: flex;
    justify-content: center;
    background-color:rgb(18, 11, 151);
    border-radius: 15px;
    min-width: none;
    max-width: 700px; 
    min-height: none;
    max-height: 250px;  
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
}

.workInfoCardBody{
    display: grid;
    background-color:rgba(84, 75, 251, 0.536);
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px;
    border-radius: 15px;
    margin: 10px;
}

.workInfoTitleResources{
    grid-column: 1;
    grid-row: 1;
    font-style: oblique;
    font-family: monospace;
    font-size:20px;
    color: rgb(255, 145, 0);
    align-items: center;
    margin-left: 10px;
}

.workInfoTitleSocials{
    grid-column: 2;
    grid-row: 1;
    font-style: oblique;
    font-family: monospace;
    font-size:20px;
    color: rgb(255, 145, 0);
    align-items: center;
}

.workInfoApi{
    grid-column: 1;
    grid-row: 2;
    color: rgb(255, 145, 0);
    font-style: oblique;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}

.workInfoImg{
    grid-column: 1;
    grid-row: 3;
    color: rgb(255, 145, 0);
    font-style: oblique;
    font-family: monospace;
    font-size:15px;
    font-weight: bold;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.workInfoSocials{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    color: rgba(255, 154, 21, 0.996);
    font-style: oblique;
    font-family: monospace;
    font-size:15px;
    justify-self: right;
    margin-right: 5px;
    margin-left: 5px;
}

.githubIcon{
    width: 90px;
}

.copyrightTextCard{
    display: flex;
    justify-content: center;
    align-content: space-around;
    border-radius: 15px;
    background-color: rgba(0, 2, 67, 0.418);
    margin-bottom: 15px;
}

.copyrightText{
    display: flex;
    background-color:rgba(0, 3, 82, 0.71);
    font: small monospace;
    font-style: oblique;
    border-radius: 15px;
    color: rgba(231, 231, 255, 0.77);
    min-height: 150px;
    max-height: 200px;
    min-width: none;
    max-width: 600px;
    margin: 5px;
}

footer{
    background-color:rgb(0, 3, 82);
    max-height: 100px;
    min-height: 50px;
    padding: 0px;
    margin: 0px;
}

.copyrightLine{
    border-radius: 15px;
    background-color: rgb(0, 3, 82);
}

.copyright{
    text-align: center;
    justify-content: space-around;
    color:rgb(182, 207, 252);
    font-family: monospace;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
