body{
    background-image: url(./img/kameHouse.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    flex-flow: wrap column-reverse;
    justify-content: left;
    background-color: rgb(204, 59, 129);
    position: sticky; top: 0;
    padding: 0px;
    margin: 0px;
}

main{
    background-image: url(./img/kameHouse.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}


.links{
    display: flex;
    flex-flow:row;
    justify-content: space-around;
}

.indexLink{
}
.charactersLink{
}
.planets{
}

footer{

    padding: 0px;
    margin: 0px;
}